body {
    font-family: 'Roboto', sans-serif;
    background-color: #151716;
    color: whitesmoke;
    font-size: 16px;
    line-height: 1.1;
    padding-left: calc(100vw - 100%);
}

.container {
    margin: 32px 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    font-size: 32px;
}

.logo,
.motto {
    user-select: none
}

.motto>a {
    color: #c41ba5;
    cursor: help;
}

.search {
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 16px 0 0 0;

    &__input,
    &__button {
        border: 0;
        border-radius: 3px;
    }

    &__input {
        width: 400px;
        height: 40px;
        font-size: 24px;
    }

    &__button {
        width: 100px;
        padding: 7.5px;
        font-size: 24px;
    }
}

.result {
    margin: 36px 0 0 0;
    width: 640px;

    &__unsuccess,
    &__loading {
        text-align: center;
    }

    &__item {
        border: 1px solid whitesmoke;
        border-radius: 6px;
        padding: 20px 16px;
        display: flex;
        flex-direction: column;
        gap: 8px;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0 0 16px 0;
        font-size: 16px;
    }
}

.item {
    &__link {
        color: #c41ba5;
    }
}